@use "styles"

:host
    display: flex
    align-items: center
    background-color: var(--main-div)
    border-radius: 25px    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
    overflow-x: scroll
    border-right: solid transparent 1rem
    border-left: solid transparent 1rem
    border-top: solid transparent 0.5rem
    border-bottom: solid transparent 0.5rem
    height: 12%

    &::-webkit-scrollbar
        height: 7px
        width: 0

    &::-webkit-scrollbar-track
        background-color: transparent

    &::-webkit-scrollbar-thumb
        background-color: var(--grey-subtle)
        border-radius: 5px

    &::-webkit-scrollbar-thumb:hover
        background-color: var(--grey-item)
    

.statistic-item
    height: 100%
    gap: 0.85rem

.statistic-category
    display: flex
    gap: 1.5rem
    height: 100%
    border-radius: 20px
    padding: 0.5rem 1rem
    cursor: pointer

.statistic-category
    transition: background-color 0.3s ease

.statistic-category:hover
    background-color: var(--highlight)

.statistic-category-selected
    background-color: var(--highlight)
    border-radius: 20px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)

.icon-div
    width: 50px
    padding-right: 0.5rem

.item-stats
    align-self: center
    gap: 0.2rem
    text-wrap: nowrap

    :nth-child(1)
        font-size: 15pt
        font-weight: bold
        font-family: 'Open Sans'
        color: var(--secondary)
    :nth-child(2)
        font-size: 19pt
        font-family: 'Source Sans 3'
        color: var(--secondary)
        font-weight: 300

@media (max-width: 1600px)
    .statistic-item
        gap: 0.5rem
        height: 90%
        padding: 0.3rem 0.5rem

    .statistic-category
        gap: 0.5rem
        height: 90%

    .statistic-category-selected
        

    .icon-div
        width: 38px

    .item-stats
        gap: 0.2rem
        text-wrap: nowrap

        :nth-child(1)
            font-size: 12pt
        :nth-child(2)
            font-size: 15pt

.loading-container 
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%

.loading-spinner 
  height: 100%

.scrollable-content 
  


  


