@use "styles"

:host
    display: flex
    align-items: center
    background-color: var(--main-div)
    border-radius: 25px
    height: 12%
    padding: 0.3rem 1.3rem
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)

.statistic-item
    height: 100%
    gap: 0.85rem

.statistic-category
    display: flex
    gap: 1.5rem
    height: 100%
    border-radius: 20px
    padding: 0.5rem 1rem

.statistic-category
  transition: background-color 0.3s ease


.statistic-category:hover 
  background-color: var(--highlight)

.statistic-category-selected
    background-color: var(--highlight-blue)
    border-radius: 20px
    padding: 0.5rem 1rem
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)

.icon-div
    width: 50px


.item-stats
    align-self: center
    gap: 0.2rem

    :nth-child(1)
        font-size: 15pt
        font-weight: bold
        font-family: 'Open Sans'
        color: var(--secondary)
    :nth-child(2)
        font-size: 19pt
        font-family: 'Source Sans 3'
        color: var(--secondary)
        font-weight: 300

@media (max-width: 1600px)
    .statistic-item
        gap: 0.5rem
        height: 90%
        padding: 0.3rem 0.5rem

    .statistic-category
        gap: 0.5rem
        height: 90%

    .statistic-category-selected
        padding: 0.5rem 0.5rem

    .icon-div
        width: 38px

    .item-stats
        gap: 0.2rem

        :nth-child(1)
            font-size: 12pt
        :nth-child(2)
            font-size: 15pt