@import '../../global.sass'

:host
    display: flex
    align-items: center
    background-color: aliceblue
    border-radius: 25px
    height: 16%
    padding: 0.3rem 1.3rem

.statistic-item
    height: 100%
    gap: 0.85rem

.statistic-category
    display: flex
    gap: 0.75rem
    height: 100%

.statistic-category-selected
    background-color: $highlight-blue
    border-radius: 25px
    padding: 0.5rem 1rem

.item-stats
    align-self: center
    gap: 0.5rem

    :nth-child(1)
        font-size: 17pt
        font-weight: bold
    :nth-child(2)
        font-size: 12pt
