<div class="flex-column center" style="gap: 1rem">
  <h1>domain_pulse_logo</h1>
  <div
    *ngFor="let domain of domains"
    class="flex-row align-center"
    style="
      gap: 1.2rem;
      height: 50px;
      width: 60%;
      padding: 0 2rem;
      border-radius: 25px;
    "
    [ngStyle]="{ 'background-color': domain.selected ? 'rgb(70 133 201)' : '' }"
  >
    <img [src]="domain.imageUrl" alt="Source logo" height="44px" />
    <p>{{ domain.name }}</p>
  </div>
  <div
    class="flex-row center"
    style="
      gap: 2rem;
      height: 50px;
      background-color: rgba(187, 208, 231, 0.418);
      width: 80%;
      border-radius: 50px;
    "
  >
    <p style="font-size: 30pt">+</p>
    <p>add domain</p>
  </div>
</div>
