<div class="flex-column center" style="gap: 1rem">
  <h1>domain_pulse_logo</h1>
  <div
    *ngFor="let domain of domains$ | async"
    (click)="selectDomain(domain)"
    class="flex-row align-center"
    style="
      gap: 1.2rem;
      height: 50px;
      width: 60%;
      padding: 0 2rem;
      border-radius: 25px;
    "
    [ngStyle]="{ 'background-color': domain.selected ? 'rgb(70 133 201)' : '' }"
  >
    <img [src]="domain.imageUrl" alt="Source logo" height="44px" />
    <p>{{ domain.name }}</p>
  </div>

  <div
    (click)="toggleDomainModal()"
    class="flex-row center"
    style="
      gap: 2rem;
      height: 50px;
      background-color: rgba(187, 208, 231, 0.418);
      width: 80%;
      border-radius: 50px;
    "
  >
    <p style="font-size: 30pt">+</p>
    <p>add domain</p>
  </div>
</div>

<dp-modal-container
  [modalDisplay]="showAddDomainModal"
  (close)="toggleDomainModal()"
>
  <div class="flex-row" style="width: 60vw; height: 60vh; color: black">
    <div class="flex-column center" style="flex-basis: 55%; gap: 1.1rem">
      <p style="color: blue; font-size: 26pt; font-weight: 500">Add a Domain</p>

      <div class="flex-row" style="width: 80%">
        <p style="font-size: 44pt; color: rgb(168, 168, 168)">1</p>
        <div class="flex-column" style="width: 100%">
          <p style="font-size: 17pt; font-weight: 500; color: rgb(46, 46, 46)">
            Choose a name
          </p>
          <input
            [(ngModel)]="newDomainName"
            type="text"
            style="
              border: solid rgb(133, 133, 133) 2px;
              height: 30px;
              border-radius: 10px;
            "
          />
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p style="font-size: 44pt; color: rgb(168, 168, 168)">2</p>
        <div class="flex-column" style="width: 100%">
          <p style="font-size: 17pt; font-weight: 500; color: rgb(46, 46, 46)">
            Add A Description
          </p>
          <input
            type="text"
            style="
              border: solid rgb(133, 133, 133) 2px;
              height: 30px;
              border-radius: 10px;
            "
          />
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p style="font-size: 44pt; color: rgb(168, 168, 168)">2</p>
        <div class="flex-column" style="width: 100%">
          <p style="font-size: 17pt; font-weight: 500; color: rgb(46, 46, 46)">
            Select Domain image:
          </p>
          <select
            [(ngModel)]="newDomainImageName"
            style="
              border: solid rgb(133, 133, 133) 2px;
              height: 30px;
              border-radius: 10px;
            "
          >
            <option value="f1-logo.png">Formula 1</option>
          </select>
        </div>
      </div>

      <button
        (click)="addNewDomain()"
        style="
          width: 130px;
          height: 40px;
          border-radius: 25px;
          background-color: rgb(70, 133, 201);
          color: white;
          font-size: 17pt;
          font-weight: 500;
          margin-top: 1rem;
        "
      >
        Confirm
      </button>
    </div>
    <div
      class="picture"
      style="
        flex-basis: 45%;
        background-color: blue;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      "
    ></div>
  </div>
</dp-modal-container>
