<div class="flex-column center" style="gap: 1rem">
  <img
    *ngIf="expanded"
    src="../assets/dp-logo-white.png"
    alt="Domain Pulse Logo"
    height="auto"
    width="85%"
    style="margin-top: 2rem; margin-bottom: 0.8rem"
  />
  <img
    *ngIf="!expanded"
    src="../assets/logos/logo-small.png"
    alt="Domain Pulse Logo"
    height="auto"
    width="50%"
    style="margin-top: 2rem; margin-bottom: 0.8rem"
  />
  <div
    *ngFor="let domain of domains$ | async"
    (click)="selectDomain(domain)"
    class="domain flex-row align-center"
    [ngClass]="{ 'selected-domain': domain.selected }"
    [ngStyle]="{ padding: expanded ? '0 2rem' : '4px' }"
  >
    <img [src]="domain.imageUrl" alt="Source logo" height="44px" />
    <p *ngIf="expanded">{{ domain.name }}</p>
  </div>

  <div (click)="toggleDomainModal()" class="add-domain-btn flex-row center">
    <p style="font-size: 30pt">+</p>
    <p *ngIf="expanded">add domain</p>
  </div>
</div>

<dp-modal-container
  [modalDisplay]="showAddDomainModal"
  (close)="toggleDomainModal()"
>
  <div class="flex-row" style="width: 60vw; height: 60vh; color: black">
    <div class="flex-column center" style="flex-basis: 55%; gap: 1.1rem">
      <p style="color: blue; font-size: 26pt; font-weight: 500">Add a Domain</p>

      <div class="flex-row" style="width: 80%">
        <p style="font-size: 44pt; color: rgb(168, 168, 168)">1</p>
        <div class="flex-column" style="width: 100%">
          <p style="font-size: 17pt; font-weight: 500; color: rgb(46, 46, 46)">
            Choose a name
          </p>
          <input
            class="default-input"
            [(ngModel)]="newDomainName"
            type="text"
          />
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p style="font-size: 44pt; color: rgb(168, 168, 168)">2</p>
        <div class="flex-column" style="width: 100%">
          <p style="font-size: 17pt; font-weight: 500; color: rgb(46, 46, 46)">
            Add A Description
          </p>
          <input class="default-input" type="text" />
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p style="font-size: 44pt; color: rgb(168, 168, 168)">3</p>
        <div class="flex-column" style="width: 100%">
          <p style="font-size: 17pt; font-weight: 500; color: rgb(46, 46, 46)">
            Select Domain image:
          </p>
          <select class="default-input" [(ngModel)]="newDomainImageName">
            <option value="f1-logo.png">Formula 1</option>
          </select>
        </div>
      </div>

      <button class="new-domain-btn" (click)="addNewDomain()">Confirm</button>
    </div>
    <div
      class="picture"
      style="
        flex-basis: 45%;
        background-color: blue;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      "
    ></div>
  </div>
</dp-modal-container>
