@use 'styles'

:host
    color: white
    background: linear-gradient(to bottom, styles.$primary-blue, styles.$secondary-blue)
    border-radius: 25px
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)

.domain
    gap: 1.2rem
    height: 50px
    width: 60%
    padding: 0 2rem
    border-radius: 25px

.selected-domain
    background-color: rgb(70 133 201)

.add-domain-btn
    gap: 2rem
    height: 50px
    background-color: rgba(187, 208, 231, 0.418)
    width: 80%
    border-radius: 50px

// below is where the styles for the modal are

.default-input
    border: solid rgb(133, 133, 133) 2px
    height: 30px
    border-radius: 10px

.new-domain-btn
    width: 130px
    height: 40px
    border-radius: 25px
    background-color: rgb(70, 133, 201)
    color: white
    font-size: 17pt
    font-weight: 500
    margin-top: 1rem
