#the packages for most
django
django-cors-headers
python-dotenv

# app specific packages
# the below 4 have been moved to the aws_analyzer service
# torch
# transformers
# vadersentiment
# nltk
requests
python-socketio
pytz

#monitoring
elastic-apm