<div class="flex-row app-container">
  <dp-sidebar style="flex-basis: 20%"></dp-sidebar>
  <div class="flex-column" style="flex-basis: 83%; gap: 1.3rem">
    <div class="header flex-row" style="gap: 1.2rem">
      <img
        src="../assets/starbucks-logo-69391AB0A9-seeklogo.com.png"
        alt="Starbucks loog"
        height="100px"
      />
      <div class="flex-column">
        <h2>Starbucks</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          magni ea sint, repellendus quam dolor consequatur sequi.
        </p>
      </div>
    </div>

    <div
      class="source-manager flex-row align-center"
      style="
        background-color: aliceblue;
        border-radius: 25px;
        height: 160px;
        gap: 1.4rem;
        padding: 0 1.2rem;
      "
    >
      <div
        *ngFor="let source of [1, 2, 3, 4]"
        class="source-cat flex-column center"
        style="
          border-radius: 25px;
          height: 80%;
          width: 180px;
          background-color: rgba(191, 200, 228, 0.39);
        "
      >
        <img
          src="../assets/facebook-logo.png"
          alt="Source logo"
          height="100px"
          style="border-radius: 50%"
        />
        <p>source_name</p>
      </div>
      <div
        (click)="toggleAddSourcesModal()"
        class="source-cat flex-column center"
        style="
          border-radius: 25px;
          height: 80%;
          width: 180px;
          background-color: rgba(191, 200, 228, 0.39);
        "
      >
        <p style="font-size: 80pt">+</p>
      </div>
    </div>

    <div
      class="source-manager flex-row"
      style="background-color: aliceblue; border-radius: 25px; height: 160px"
    ></div>

    <div
      class="source-manager flex-row"
      style="background-color: aliceblue; border-radius: 25px; height: 360px"
    ></div>
  </div>
</div>

<dp-modal-container
  [modalDisplay]="showAddSourcesModal"
  (close)="toggleAddSourcesModal()"
>
  <div class="flex-row" style="width: 60vw; height: 60vh; color: black">
    <div class="flex-column center" style="flex-basis: 55%; gap: 1.1rem">
      <p style="color: blue; font-size: 26pt; font-weight: 500">Add a Source</p>

      <div class="flex-row" style="width: 80%">
        <p style="font-size: 44pt; color: rgb(168, 168, 168)">1</p>
        <div class="flex-column" style="width: 100%">
          <p style="font-size: 17pt; font-weight: 500; color: rgb(46, 46, 46)">
            Source Name:
          </p>
          <input
            type="text"
            style="
              border: solid rgb(133, 133, 133) 2px;
              height: 30px;
              border-radius: 10px;
            "
          />
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p style="font-size: 44pt; color: rgb(168, 168, 168)">3</p>
        <div class="flex-column" style="width: 100%">
          <p style="font-size: 17pt; font-weight: 500; color: rgb(46, 46, 46)">
            Source url:
          </p>
          <input
            type="text"
            style="
              border: solid rgb(133, 133, 133) 2px;
              height: 30px;
              border-radius: 10px;
            "
          />
        </div>
      </div>

      <button
        style="
          width: 130px;
          height: 40px;
          border-radius: 25px;
          background-color: rgb(70, 133, 201);
          color: white;
          font-size: 17pt;
          font-weight: 500;
          margin-top: 1rem;
        "
      >
        Confirm
      </button>
    </div>
    <div
      class="picture"
      style="
        flex-basis: 45%;
        background-color: blue;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      "
    ></div>
  </div>
</dp-modal-container>
