<div class="flex-row app-container">
  <dp-sidebar style="flex-basis: 20%"></dp-sidebar>
  <div class="flex-column" style="flex-basis: 83%; gap: 1.3rem">
    <div class="header flex-row">
      <h1>_logo_</h1>
      <div class="flex-column">
        <h2>Domain Name</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          magni ea sint, repellendus quam dolor consequatur sequi.
        </p>
      </div>
    </div>

    <div
      class="source-manager flex-row"
      style="background-color: aliceblue; border-radius: 25px; height: 160px"
    ></div>

    <div
      class="source-manager flex-row"
      style="background-color: aliceblue; border-radius: 25px; height: 160px"
    ></div>

    <div
      class="source-manager flex-row"
      style="background-color: aliceblue; border-radius: 25px; height: 360px"
    ></div>
  </div>
</div>
