@use "styles"

:host
    display: flex
    justify-content: center
    align-items: center
    background-color: rgb(92 228 243 / 18%)
    height: inherit
    width: inherit

.app-container
    width: 97%
    height: 96%
    gap: 2rem

.header
  display: flex
  justify-content: left
  align-items: left
  height: 15%

.centered
  flex-direction: row
  align-items: center

.domainTitle
    margin-top: 0
    margin-bottom: 0
    font-family: Open Sans
    font-weight: 700
    font-size: 30pt

.domainSubtitle
    margin-top: 0
    margin-bottom: 0
    font-family: 'Source Sans 3'
    font-weight: 400
    font-size: 15pt

.source-selector
    background-color: white
    border-radius: 25px
    height: 16%
    gap: 1.4rem
    padding: 0 1.2rem
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)

.source-cat
    border-radius: 25px
    height: 80%
    width: 180px
    background-color: rgba(191, 200, 228, 0.39)

.statistic-selector

// below is where the styles for the modal are
.default-input
    border: solid rgb(133, 133, 133) 2px
    height: 30px
    border-radius: 10px

.new-source-btn
    width: 130px
    height: 40px
    border-radius: 25px
    background-color: rgb(70, 133, 201)
    color: white
    font-size: 17pt
    font-weight: 500
    margin-top: 1rem
