# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*$py.class

# Django stuff:
*.log
*.pot
db.sqlite3
media/
staticfiles/

#env
*.env
environment.ts

# virtualenvironment
.venv

# VSCode
.vscode/

# Latex
documentation/**/*.aux
documentation/**/*.fdb_latexmk
documentation/**/*.fls
documentation/**/*.log
documentation/**/*.toc
documentation/**/*.synctex.gz

# misc
frontend/cypress/videos
frontend/cypress/screenshots