[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
check_all = "bash scripts/check_all.sh"
coverage_gen = "bash scripts/coverage.sh"
domains = "python domains/manage.py runserver"
engine = "python engine/manage.py runserver"
profiles = "python profiles/manage.py runserver"
sourceconn = "python sourceconnector/manage.py runserver"
warehouse = "python warehouse/manage.py runserver"

[packages]
django = "*"
vadersentiment = "*"
django-cors-headers = "*"
coverage = "*"
torch = "*"
nltk = "*"
transformers = "*"
psycopg2-binary = "*"
mock = "*"
pymongo = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
sshtunnel = "*"
outscraper = "*"
python-socketio = "*"
eventlet = "*"
matplotlib = "*"
numpy = "*"
pdfkit = "*"
jinja2 = "*"
azure-storage-blob = "*"
shortuuid = "*"
bleach = "*"
elastic-apm = "*"
pytz = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.8"
