<!DOCTYPE html>
<html>

{% load static %}

<head>
    <title>Input Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="flex-column center container" >
        <img class = "logo" src = "{% static 'Centre logo white.svg' %}">
      <div class = "flex-column center block">
            <div class = "title">
                <p>What do you think about</p><p class = "domain-name">{{source_name}}?</p>
            </div>
            <form class="form flex-column center" method="post", action="/ingest/live_review/">
                <textarea name="review_text" id="review_text" class="textbox" placeholder="Write your review here..."></textarea>
                <input type="hidden" name="source_id" value={{source_id}}>
                <button type="submit" value="Submit" class="button clickable-item">submit</button>
            </form>
        </div>
    
        
        <div class="filler"></div>
    
    </div>

</body>
</html>
