<div class="container">
  <div class="left-side flex-column center" style="gap: 2rem">
    <div class="flex-row content">
      <img src="../assets/dp-logo-blue.png" style="width: 70%" />
    </div>

    <div
      class="flex-row content"
      style="text-align: left; align-self: flex-start; width: 100%"
    >
      <div class="flex-column" style="width: 100%">
        <div class="flex-row" style="text-align: left; align-self: flex-start">
          <div class="header"><h1>Get started by</h1></div>
          <div class="header2"><h1>Registering!</h1></div>
        </div>

        <label for="username" class="email">Username</label>
        <input
          [(ngModel)]="username"
          type="text"
          class="inputBar"
          name="username"
        />

        <label for="username" class="email">Email</label>
        <input
          [(ngModel)]="email"
          type="text"
          class="inputBar"
          name="username"
          style="margin-bottom: 40px"
        />

        <label for="password" class="password">Password</label>
        <input
          [(ngModel)]="password"
          type="password"
          class="inputBar2"
          name="password"
        />

        <label for="password" class="password">Confirm Password</label>
        <input
          [(ngModel)]="confirmPassword"
          type="password"
          class="inputBar2"
          name="password"
        />

        <div class="flex-row" style="margin-top: 12px">
          <button (click)="register()" class="button clickable-item">Register</button>
        </div>
      </div>
    </div>

    

    <div
      class="flex-row content center"
      style="text-align: left; align-self: flex-start; width: 100%"
    >
      <div class="flex-column" style="width: 100%">
        <div>
          
          <div class="alternative-option">
            <p class="clickable-item"  routerLink="/login">Already have an account?</p>
          </div>
        </div>
        <!-- <div>
          <button class="button2">Sign in with Google</button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>
