<div class="container">
  <div class="left-side flex-column center" style="gap: 1rem">
    <div class="flex-row content">
      <a href="/info/index.html" class="clickable-item">
        <img src="../assets/dp-logo-blue.png" style="width: 70%" />
      </a>
    </div>

    <div
      class="flex-row content"
      style="text-align: left; align-self: flex-start; width: 100%"
    >
      <div class="flex-column" style="width: 100%">
        <div class="flex-row" style="text-align: left; align-self: flex-start">
          <div class="header"><h1>Get started by</h1></div>
          <div class="header2"><h1>Registering!</h1></div>
        </div>

        <label for="username" class="email">Username</label>
        <input
          [(ngModel)]="username"
          type="text"
          class="inputBar"
          name="username"
          data-cy="username"
        />

        <label for="password" class="password">Password</label>
        <div class="flex-row" style="gap: 0.5rem">
          <input
            [(ngModel)]="password"
            [type]="getPasswordType()"
            class="inputBar2"
            name="password"
            data-cy="password"
          />
          <img
            src="../assets/icons/show-password.svg"
            *ngIf="!passwordVisible"
            class="eye clickable-item"
            (click)="togglePasswordVisibility()"
          />
          <img
            src="../assets/icons/hide-password.svg"
            *ngIf="passwordVisible"
            class="eye clickable-item"
            (click)="togglePasswordVisibility()"
          />
        </div>

        <label for="password" class="password">Confirm Password</label>
        <div class="flex-row" style="gap: 0.5rem">
          <input
            [(ngModel)]="confirmPassword"
            [type]="getConfirmPasswordType()"
            class="inputBar2"
            name="password"
            data-cy="confirmPassword"
          />
          <img
            src="../assets/icons/show-password.svg"
            *ngIf="!confirmPasswordVisible"
            class="eye clickable-item"
            (click)="toggleConfirmPasswordVisibility()"
          />
          <img
            src="../assets/icons/hide-password.svg"
            *ngIf="confirmPasswordVisible"
            class="eye clickable-item"
            (click)="toggleConfirmPasswordVisibility()"
          />
        </div>

        <div class="flex-row" style="margin-top: 12px">
          <button
            (click)="register()"
            class="button clickable-item"
            data-cy="registerButton"
          >
            Register
            <div [ngClass]="{ 'button-spinner': isSpinning }"></div>
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex-row content center"
      style="text-align: left; align-self: flex-start; width: 100%"
    >
      <div class="flex-column" style="width: 100%">
        <div>
          <div class="alternative-option">
            <p
              class="clickable-item"
              routerLink="/login"
              data-cy="switchForAcc"
            >
              Already have an account?
            </p>
          </div>
        </div>
        <!-- <div>
          <button class="button2">Sign in with Google</button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="right-side"></div>
  <img class="wave-art" src="../assets/wave-squished.svg" alt="Wave Art" />
</div>
