@use 'styles'

:host
    display: flex
    justify-content: center
    align-items: center
    height: inherit
    width: inherit
    background-color: var(--background)

.container
    display: flex
    height: 100vh
    margin-top: 2rem
