<div class="flex-column align-center">
  <div class="top-bar flex-column center" style="color: white;">
    <h2>What do you need help with?</h2>
    <div class="searchbar flex-row">
      <input type="text" placeholder="Search.." name="search">
    </div>
  </div>

  <div class="flex-column" style="width: 50vw;">
    <div class="dp-logo"></div>

    <div class="flex-column" style="gap: 0.7rem">
      <accordion [collapsing]="collapsing">
        <accordion-item title="How Do i change my profile picture">
          <ng-template accordionContent>
            <div class="accord-container">
              <ul>
                <li>Mnadems, apparently you need help changing ur prof pic</li>
                <h3>mandem</h3>
                <img src="../../assets/stock-profile-pic.jpg" alt="stock" style="width: 600px; height: auto;">
                <li>Like the steps are obvious man</li>
                <li>Then BOOM!, your profile picture has changed</li>
              </ul>
            </div>
          </ng-template>
        </accordion-item>
      </accordion>

      <accordion [collapsing]="collapsing">
        <accordion-item title="Super simple Accordion">
          <ng-template accordionContent>
            <div class="accord-container">
              A simple and customizable accordion component made with functionalities provided by angular without having
              to use any 3rd party libraries. Ideal when you want custom basic accordion.
            </div>
          </ng-template>
        </accordion-item>
      </accordion>
    </div>
  </div>
</div>