@use 'styles'

:host
  background-color: white
  border-radius: 25px
  flex-basis: 98%
  padding: 1rem 2.8rem
  overflow-y: scroll
  scrollbar-width: 5px
  scrollbar-height: 90%
  scrollbar-color: styles.$grey-subtle
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
  border-right: solid transparent 0.5rem
  border-top: solid transparent 1.5rem
  border-bottom: solid transparent 1.5rem
  padding: 40px
  padding-top: 0px // Adjust the value as per your preference

  &::-webkit-scrollbar
    width: 6px

  &::-webkit-scrollbar-track
    background-color: transparent

  &::-webkit-scrollbar-thumb
    background-color: styles.$grey-subtle
    border-radius: 3px

  &::-webkit-scrollbar-thumb:hover
    background-color: styles.$grey-item

.flex-column
  display: flex
  flex-direction: column

.flex-row
  display: flex
  flex-direction: row

.tag-container
  display: flex
  gap: 5px

.tag
  display: inline-block
  padding: 4px 8px
  margin-right: 5px
  border-radius: 20px
  color: #fff
  font-size: 12px
  font-family: 'Source Sans 3'


p
  font-family: 'Source Sans 3'

hr
  border: 0
  height: 5px
  background: styles.$grey-subtle
  opacity: 0.5
  width: 100%
  border-radius: 10px
  margin-top: 2rem

.positive-color 
  background-color: #28a745
  


.neutral-color 
  background-color: #ffc107


.negative-color 
  background-color: #dc3545

h2
  font-family: 'Open Sans'
  font-size: 20pt
  font-weight: bold
  color: styles.$secondary-blue
  margin-bottom: 0.5rem



