@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import 'ngx-toastr/toastr'
// global style variables
$background-light: #e0efff
$primary-light: #037fff
$secondary-light: #17234c
$highlight-light: rgba(3, 127, 255, 0.25)
$grey-item-light: #949494
$grey-subtle-light: #e0e0e0
$main-div-light: #ffffff
$secondary-div-light: #ffffff
$text-color-light: #000000
$sidebar-top-light: #037fff
$sidebar-bottom-light: #17234c

$background-dark: #4d4d4d
$primary-dark: #037fff
$secondary-dark: #e8ecfc
$highlight-dark: rgba(3, 127, 255, 0.25)
$grey-item-dark: #949494
$grey-subtle-dark: #e0e0e0
$main-div-dark: #282828
$secondary-div-dark: #404040
$text-color-dark: #ffffff
$sidebar-top-dark: #0058b2
$sidebar-bottom-dark: #0058b2

body.light
    --background: #{$background-light}
    --primary: #{$primary-light}
    --secondary: #{$secondary-light}
    --highlight: #{$highlight-light}
    --grey-item: #{$grey-item-light}
    --grey-subtle: #{$grey-subtle-light}
    --main-div: #{$main-div-light}
    --secondary-div: #{$secondary-div-light}
    --text-color: #{$text-color-light}
    --sidebar-top: #{$sidebar-top-light}
    --sidebar-bottom: #{$sidebar-bottom-light}

body.dark
    --background: #{$background-dark}
    --primary: #{$primary-dark}
    --secondary: #{$secondary-dark}
    --highlight: #{$highlight-dark}
    --grey-item: #{$grey-item-dark}
    --grey-subtle: #{$grey-subtle-dark}
    --main-div: #{$main-div-dark}
    --secondary-div: #{$secondary-div-dark}
    --text-color: #{$text-color-dark}
    --sidebar-top: #{$sidebar-top-dark}
    --sidebar-bottom: #{$sidebar-bottom-dark}

body
    margin: 0
    padding: 0
    width: 100vw
    height: 100vh
    font-family: 'Source Sans 3'
    background-color: white
    color: var(--text-color)

.icon
    font-size: 1.5rem

p
    margin: 0

.flex-row
    display: flex
    flex-direction: row

.flex-column
    display: flex
    flex-direction: column

.align-center
    align-items: center

.center
    justify-content: center
    align-items: center

//Toasts
.custom-toast
    width: 40% !important
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important
    border-radius: 0.5rem !important
    transition: all 0.3s ease

    &.error
        background-color: rgba(184, 0, 0, 0.7) !important

    &.success
        background-color: rgba(0, 184, 0, 0.7) !important

    &.error:hover
        background-color: rgba(184, 0, 0, 0.9) !important

    &.success:hover
        background-color: rgba(0, 184, 0, 0.9) !important

.custom-toast:hover
    cursor: pointer
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) !important

//Clickable items
.clickable-item
    cursor: pointer
    transition: transform 0.4s ease
    will-change: transform

.clickable-item:active
    animation: click-animation 0.4s ease-in-out

.clickable-item:hover
    transform: scale(1.075)

@keyframes click-animation
    0%
        transform: scale(1)
    50%
        transform: scale(1.1)
    100%
        transform: scale(1)
