body
    margin: 0
    padding: 0
    width: 100vw
    height: 100vh
    font-family: 'Roboto', sans-serif
    background-color: #f5f5f5

p
    margin: 0

.flex-row
    display: flex
    flex-direction: row

.flex-column
    display: flex
    flex-direction: column

.align-center
    align-items: center

.center
    justify-content: center
    align-items: center
