body {
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;    
}

.center {
    justify-content: center;
    align-items: center;
}