:host
  background-color: var(--main-div)
  border-radius: 25px
  flex-basis: 200%
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)

.chart-container
  position: relative
  width: 90%
  height: 100%
  margin-bottom: -50px
