<div class="sources-div flex-row center">
  
  <ng-container
    *ngIf="selectedDomain$ | async as selectedDomain; else loadingSources"
  >
    <div
      *ngFor="let source of selectedDomain.sources"
      class="source-cat flex-column center"
    >
      <img
        [src]="'../assets/' + source.sourceImageUrl"
        height="45px"
        style="border-radius: 50%; margin-bottom: 0.5rem"
      />
      <p>{{ source.source_name }}</p>
    </div>

    <div (click)="toggleAddSourcesModal()" class="flex-column center">
      <img src="../assets/icons/add-blue.svg" height="45px" style="padding-bottom: 0.5rem"/>
      <p>Add a Source</p>
    </div>
  </ng-container>

  <ng-template #loadingSources>
    <p>Loading...</p>
  </ng-template>
</div>

<div class = "source-actions flex-row center">
  <div class="space-div flex-row center" style="margin-top: 0.5rem;">
    <p>source actions</p>
  </div>
  <div class="button-div flex-row center">
    
    <div class="button">
      <img class="button-icon" src="../assets/icons/refresh.svg" alt="Icon">
      <span class="button-text">Refresh</span>
    </div>
    <div class="button" (click)="toggleEditSourceModal()">
      <img class="button-icon" src="../assets/icons/edit.svg" alt="Icon">
      <span class="button-text">Edit</span>
    </div>
    <div class="button">
      <img class="button-icon" src="../assets/icons/trash-can-regular.svg" alt="Icon">
      <span class="button-text">Delete</span>
    </div>
    <div class="button">
      <img class="button-icon" src="../assets/icons/search.svg" alt="Icon">
      <span class="button-text">Inspect</span>
    </div>
    
  </div>
  <div class="space-div flex-row center" style="margin-bottom: 0.5rem;"></div>
</div>

<dp-modal-container
[modalDisplay]="showAddSourcesModal"
(close)="toggleAddSourcesModal()"
>

<div class="flex-row modal" style="width: 70vw; height: 70vh; color: black">
  <div class="flex-column center modal-contents" style="flex-basis: 55%; gap: 0.7rem">
    <div class="heading-container">
      <img src="../assets/icons/back-arrow-right-light.svg" alt="Back Arrow" class="back-arrow" (click)="toggleAddSourcesModal()">
      <p class="modal-heading">Add a Source</p>
    </div>
    <div class="flex-column center content" style="width: 80%; gap: 0.5rem;">
      <div class="flex-row" style="width: 80%">
        <p class="modal-step-tag">1</p>
        <div class="flex-column" style="width: 100%">
          <p class="step-heading">Source Name:</p>
          <input class="default-input" [(ngModel)]="newSouceName" type="text" />
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p class="modal-step-tag">2</p>
        <div class="flex-column" style="width: 100%">
          <p class="step-heading">Source Type:</p>
          <select
            [(ngModel)]="newSourcePlatform"
            style="
              border: solid rgb(133, 133, 133) 2px;
              height: 30px;
              border-radius: 10px;
            "
          >
            <option value="facebook">facebook</option>
            <option value="instagram">instagram</option>
            <option value="reddit">reddit</option>
          </select>
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p class="modal-step-tag">3</p>
        <div class="flex-column" style="width: 100%">
          <p class="step-heading">Source url:</p>
          <input class="default-input" type="text" />
        </div>
      </div>
    </div>

    <div class="bottom-div">

      <button class="new-source-btn" (click)="addNewSource()">Confirm</button>

    </div>




  </div>
  <div
    class="picture"
  ></div>


</div>
</dp-modal-container>

<dp-modal-container
[modalDisplay]="showEditSourceModal"
(close)="toggleEditSourceModal()"
>

<div class="flex-row modal" style="width: 70vw; height: 70vh; color: black">
  <div class="flex-column center modal-contents" style="flex-basis: 55%; gap: 0.7rem">
    <div class="heading-container">
      <img src="../assets/icons/back-arrow-right-light.svg" alt="Back Arrow" class="back-arrow" (click)="toggleEditSourceModal()">
      <p class="modal-heading">Edit a Source</p>
    </div>
    <div class="flex-column center content" style="width: 80%; gap: 0.5rem;">
      <div class="flex-row" style="width: 80%">
        <p class="modal-step-tag">1</p>
        <div class="flex-column" style="width: 100%">
          <p class="step-heading">Source Name:</p>
          <input class="default-input" [(ngModel)]="newSouceName" type="text" />
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p class="modal-step-tag">2</p>
        <div class="flex-column" style="width: 100%">
          <p class="step-heading">Source Type:</p>
          <select
            [(ngModel)]="newSourcePlatform"
            style="
              border: solid rgb(133, 133, 133) 2px;
              height: 30px;
              border-radius: 10px;
            "
          >
            <option value="facebook">facebook</option>
            <option value="instagram">instagram</option>
            <option value="reddit">reddit</option>
          </select>
        </div>
      </div>

      <div class="flex-row" style="width: 80%">
        <p class="modal-step-tag">3</p>
        <div class="flex-column" style="width: 100%">
          <p class="step-heading">Source url:</p>
          <input class="default-input" type="text" />
        </div>
      </div>
    </div>

    <div class="bottom-div">

      <button class="new-source-btn" (click)="editSource()">Confirm</button>

    </div>




  </div>
  <div
    class="picture"
  ></div>


</div>
</dp-modal-container>