@use "styles"

:host
    border-radius: 25px
    height: 16%

.source-name
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  max-width: 95%
  
.source-cat
    width: 140px
    min-width: 140px
    cursor: pointer
    transition: background-color 0.3s ease
    height: 80%
    border-radius: 20px
    padding: 0.5rem 1rem

.source-cat:hover
    background-color: var(--highlight)

.source-cat-selected
    background-color: var(--highlight)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)

.source-actions
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
    border-radius: 25px
    background-color: var(--main-div)
    border-top: solid transparent 0.5rem
    border-bottom: solid transparent 0.5rem

.space-div
    height: 20%
    width: 100%
    color: var(--grey-subtle)

.gap-div
  gap: 1rem
  height: 80%
  width: 100%

.sources-div
    height: 100%
    gap: 1.4rem
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
    width: 100%
    background-color: var(--main-div)
    border-radius: 25px
    align-items: center

.button-div
    display: grid
    grid-template-columns: repeat(1, 1fr)
    align-content: center
    justify-content: center
    width: 60%
    height: 50%
    margin-left: 3rem

.button
    display: flex
    align-items: center
    height: 2rem
    border-radius: 1rem
    cursor: pointer
    width: 8rem
    color: var(--text-color)

.button-text
    margin-left: 0.5rem

.button-icon
    margin-left: 0.3rem
    margin-right: 0.3rem
    width: 1.2rem

.info-icon
    width: 1.2rem
    height: 1.2rem
    position: absolute
    top: 0.5rem
    left: 0.5rem
    opacity: 0.7

.loading-spinner
  border: 0.2rem solid var(--spinner-bottom)
  border-top: 0.2rem solid var(--spinner-top)
  border-radius: 50%
  width: 1rem
  height: 1rem
  animation: spin 2s linear infinite
  position: absolute
  transform: translate(-50%, -50%)
  top: 0.5rem
  right: 0.5rem

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.scrollable-div
  display: flex
  align-items: center
  background-color: var(--main-div)
  border-radius: 25px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
  overflow-x: scroll
  border-right: solid transparent 1rem
  border-left: solid transparent 1rem
  border-top: solid transparent 0.5rem
  border-bottom: solid transparent 0.5rem

  &::-webkit-scrollbar
      height: 6px
      width: 0

  &::-webkit-scrollbar-track
      background-color: transparent

  &::-webkit-scrollbar-thumb
      background-color: var(--grey-subtle)
      border-radius: 3px

  &::-webkit-scrollbar-thumb:hover
      background-color: var(--grey-item)




// below is where the styles for the modal are
.default-input
    border: solid rgb(133, 133, 133) 2px
    height: 30px
    border-radius: 10px
    width: 100%

.new-source-btn
    width: 130px
    height: 40px
    border-radius: 25px
    background-color: styles.$primary-light
    color: white
    font-family: 'Source Sans 3'
    font-size: 14pt
    font-weight: 700
    margin-top: 1rem
    border: none
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)

.modal-heading
    font-family: 'Open Sans'
    font-weight: 700
    font-size: 20pt
    color: styles.$primary-light

.heading-container
    text-align: left
    width: 80%
    display: flex
    align-items: center
    align-self: flex-start
    margin-left: 10%

.content
    flex-grow: 1

.modal-contents
    display: flex
    flex-direction: column
    justify-content: space-between
    max-width: 55%
    margin: 4% 0 4% 0

.bottom-div
    align-content: center
    justify-content: center
    margin-bottom: 6%

.back-arrow
    width: 25px
    margin-right: 10px

.modal-step-tag
    font-size: 50px
    font-weight: 700
    font-family: 'Open Sans'
    color: var(--grey-subtle)
    padding-right: 10px

.step-heading
    font-family: 'Source Sans 3'
    font-weight: 300
    font-size: 15px
    color: var(--text-color)

.picture
    flex-basis: 45%
    background-color: blue
    border-top-right-radius: 2vw
    border-bottom-right-radius: 2vw
    background-image: url("../../assets/stock-bg.png")
    background-repeat: no-repeat
    background-size: cover
    width: 100%

.platform-logo 
  margin-right: 20px
  margin-left: 20px
  margin-top: 10px
  margin-bottom: 10px
  display: flex
  flex-direction: column
  align-items: center


.platform-logo img 
  height: 50px
  width: auto
  cursor: pointer
  transition: height 0.3s ease
  opacity: 0.5


.platform-logo img.selected 
  height: 55px
  opacity: 1

.sources-options
  border: solid rgb(133, 133, 133) 2px
  border-radius: 10px
  height: 100px

.outer-flex-row 
  display: flex

.source-type-title
  font-size: 10px
  color: var(--text-color)


.inner-flex-row
  flex-direction: row
  flex-basis: 100%
  overflow-x: auto
  scrollbar-width: 5px
  scrollbar-color: var(--grey-subtle)
  border-bottom: transparent 5px solid

  &::-webkit-scrollbar
    height: 6px

  &::-webkit-scrollbar-track
    background-color: transparent

  &::-webkit-scrollbar-thumb
    background-color: var(--grey-subtle)
    border-radius: 3px

  &::-webkit-scrollbar-thumb:hover
    background-color: var(--grey-item)


.button-div-confirm
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 1rem
    align-content: center
    justify-content: center
    margin-bottom: 5%

.button-confirm
    display: flex
    align-items: center
    height: 2rem
    padding: 0 1rem
    border-radius: 1rem
    background-color: var(--primary)
    cursor: pointer
    width: 10vw
    color: white
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)

.confirm-button
    display: flex
    align-items: center
    height: 2rem
    padding: 0 1rem
    border-radius: 1rem
    cursor: pointer
    width: 5vw
    color: white
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)

.confirm-text
    font-family: 'Source Sans 3'
    font-weight: 300
    font-size: 1.3em
    color: var(--text-color)
    text-align: center
    margin: 0 1rem 0 1rem

.button-text-confirm
    margin-left: 0.5rem
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-size: 0.9em

.button-icon-confirm
    margin-left: 0.3rem
    margin-right: 0.5rem
    width: 0.8rem

.green
    background-color: var(--confirm)

.red
    background-color: var(--reject)


//source info modals

.tag
    font-family: 'Source Sans 3'
    font-weight: 600
    font-size: 0.8vw
    color: white
    text-align: center
    margin: 0 1rem 0 0
    background-color: var(--primary)
    border-radius: 0.5rem
    width: 6vw
    height: 1.5rem

.left
    justify-content: flex-start
    align-items: center  

.switch
    width: 4vw
    height: 1.5rem
    margin: 0 1rem 0 0

.copy-icon
    width: 1.2rem
    height: 1.2rem
    padding-left: 1rem
    filter: var(--icon-filter)
    margin-left: auto

.edit-icon
    width: 1.2rem
    height: 1.2rem
    padding-left: 1rem
    margin-left: auto

.pen
    filter: var(--icon-filter)


.info-data
    color: var(--text-color)
    width: 55%
    max-width: 55%
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

input[type=file]::file-selector-button 
  margin-right: 20px
  border: none
  background: var(--primary)
  padding: 10px 20px
  border-radius: 10px
  color: #fff
  cursor: pointer
  transition: background .2s ease-in-out


input[type=file]::file-selector-button:hover 
  background: #0d45a5

.file-block
    color: #444
    padding: 5px
    background: #fff
    border-radius: 10px
    border: 1px solid #555

.editInput
    border: none
    background-color: var(--background)
    border-radius: 5px
    height: 1.5rem
    width: 55%
    color: var(--text-color)
    padding: 0

.adaptive-color
    color: var(--text-color)


