#the packages for most
django
django-cors-headers
python-dotenv

# app specific packages
psycopg2-binary
djangorestframework-simplejwt
pdfkit
requests
azure
tempfile
shortuuid

# move away from sshtunnel
sshtunnel