
<div class="flex-column">
    <label for="username" class="email">Email</label>
    <input type="text" class="inputBar" name="username">

    <label for="password" class="password">Password</label>
    <input type="password" class="inputBar2" name="password">

    <div class="header"><H1>Get started by</H1></div>
    <div class="header2"><H1>logging in!</H1></div>
    <img src="../assets/dp-logo-blue.png" style="width: 40%; margin-top: -17%;" >
    <img src="../assets/stock-bg.png" style="width: 101%; margin-left: 50%; margin-top: -11%;" >
</div>

<div>
    <button class="button">Log In</button>
    
</div>
<div>
    <button class="button2">Sign in with Google</button>
    
</div>
<div class="forgot">
    <h6>Forgot your password?</h6>
</div>
<div class="or">
    <h6>or</h6>
</div>