<div class="container">

    <div class="left-side flex-column center" style="gap: 5%;">
        <div class="flex-row content" >
            <img src="../assets/dp-logo-blue.png" style="width: 70%;" >
        </div>

        

    <div
      class="flex-row content"
      style="text-align: left; align-self: flex-start; width: 100%"
    >
      <div class="flex-column" style="width: 100%">
        <div class="flex-row" style="text-align: left; align-self: flex-start">
          <div class="header"><h1>Get started by</h1></div>
          <div class="header2"><h1>logging in!</h1></div>
        </div>
        <label for="username" class="email">Username</label>
        <input
          [(ngModel)]="username"
          type="text"
          class="inputBar"
          name="username"
          data-cy="username"
        />

        <label for="password" class="password">Password</label>
        <input
          [(ngModel)]="password"
          type="password"
          class="inputBar2"
          name="password"
          data-cy="password"
        />
        <div class="forgot" (click)="toggleForgotPasswordModal()">
          <p class="clickable-item" style="width: fit-content;" >Forgot your password?</p>
        </div>
      </div>
    </div>

    <div
      class="flex-row content center"
      style="text-align: left; align-self: flex-start; width: 100%"
    >
      <div class="flex-column" style="width: 100%">
        <div>
          <button (click)="login()" class="button clickable-item" data-cy="logInButton">Log In <div [ngClass]="{ 'button-spinner': isSpinning }"></div></button>
        </div>
        <div class="alternative-option">
          <p class="clickable-item"  routerLink="/register" data-cy="switchForNoAcc">Don't have an account?</p>
        </div>
        <!-- <div>
          <button class="button2">Sign in with Google</button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="right-side"></div>
  <img class="wave-art" src="../assets/wave-squished.svg" alt="Wave Art">
</div>

<dp-modal-container [modalDisplay]="showForgotPasswordModal" (close)="toggleForgotPasswordModal()">
  <div class="flex-column center modal" style="gap: 1.3rem; width: 30vw; height: 25vh; color: black; border-radius: 10px">
    <div class="flex-row center" style="width: 100%">
      <div class="flex-column center" style="gap: 2rem">
        <p class="confirm-text">
          Please contact support at <a href="mailto:domainpulse.help@gmail.com" class="clickable-item"><b>domainpulse.help@gmail.com</b></a>
        </p>
      </div>
    </div>

    <div class="flex-row center" style="width: 100%">
      <div class="flex-column center" style="gap: 2rem; width: 80%">
        <button class="button clickable-item" (click)="toggleForgotPasswordModal()">Close</button>
      </div>
    </div>
  </div>
</dp-modal-container>
