@use "styles"


.button
    background-color: var(--primary)
    color: white
    border: none
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    border-radius: 100px
    width: 110px
    height: 30px
    
.flex-column
    width: 200px
    height: 150px
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 1000px
    

.inputBar
    border-radius: 10px
    border: 1px var(--grey-item) solid
    height: 20px
    width: 300px
    margin-bottom: 20px
    
    

.inputBar2
    border-radius: 10px
    border: 1px var(--grey-item) solid
    height: 20px
    width: 300px

.email
    opacity: 0.6

.password
    opacity: 0.6

    

